argcomplete==1.12.0
attrs==20.3.0
Babel==2.9.1
catkin-pkg==0.5.2
cffi==1.14.5
chardet==4.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.12.1
colcon-defaults==0.2.8
colcon-devtools==0.2.3
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
coloredlogs==15.0.1
coverage==6.2
cryptography==36.0.1
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
distlib==0.3.2
dnspython==2.1.0
docutils==0.16
empy==3.3.4a0
file-magic==0.4.0
gitdb==4.0.9
GitPython==3.1.32
gpg==1.15.1
gssapi==1.6.9
httplib2==0.20.3
humanfriendly==10.0
idna==2.10
iniconfig==1.1.1
ipalib==4.10.0
ipaplatform==4.10.0
ipapython==4.10.0
Jinja2==2.11.3
jwcrypto==0.8
kerberos==1.3.0
libcomps==0.1.18
llfuse==1.4.2
lxml==4.6.5
Mako==1.1.4.dev0
Markdown==3.3.4
MarkupSafe==1.1.1
netaddr==0.8.0
netifaces==0.10.6
notify2==0.3.1
packaging==20.9
perf==0.1
pexpect==4.8.0
pluggy==0.13.1
ply==3.11
psutil==5.8.0
ptyprocess==0.6.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
PyGObject==3.40.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.2
pytest-cov==4.0.0
pytest-repeat==0.9.1
pytest-rerunfailures==9.1.1
pytest-runner==4.0
python-dateutil==2.8.1
python-ldap==3.3.1
python-linux-procfs==0.7.0
python-yubico==1.3.3
pytz==2021.1
pyudev==0.22.0
pyusb==1.0.2
pyxdg==0.27
PyYAML==5.4.1
qrcode==6.1
requests==2.25.1
requests-gssapi==1.2.3
rpm==4.16.1.3
selinux==3.4
sepolicy==3.4
setools==4.4.0
setroubleshoot==1.1
six==1.15.0
smmap==5.0.0
sos==4.5.1
systemd-python==234
toml==0.10.2
tomli==2.0.1
urllib-gssapi==1.0.2
urllib3==1.26.5
